.dropdown {
	border: 1px solid $border-color;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	width: 150px;
	position: absolute;
	z-index: $z-index-dropdown;
	max-height: $max-height;
	overflow-y: auto;
	overflow-x: hidden;
	visibility: hidden;
	>a {
		box-sizing: border-box;
		cursor: pointer;
		border-bottom: 1px solid $divider-color;
		display: block;
		padding: 4px 10px 4px 15px;
		&:hover {
			background-color: $hover-color;
		}
	}
}

.dropdown-divider {
	height: 1px;
	margin: 8px 1px;
	background-color: $divider-color;
}