/** ------------------------------------------------------------------------ Color  ------------------------------------------------------------------------ */
/** ------------------------------------------------------------------------ ------------------------------------------------------------------------ */
html { color: #222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 19px; background-color: #fff; direction: ltr; height: 100%; }

body { margin: 0; }

.fixed-body { height: 100%; max-height: 100%; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

body label, body input, body button, body select, body textarea { font-size: 0.929em; font-weight: normal; line-height: 18px; }

body input, body button, body select, body textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 { font-size: 1.5em; }

h2 { font-size: 1.4em; }

h2 { color: black; font-weight: 500; margin: 20px 0 15px 0; padding-bottom: 6px; }

h1, h2, h3, h4 { font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4 { color: black; font-weight: 500; margin: 20px 0 15px 0; padding-bottom: 6px; }

table { border-collapse: collapse; border-spacing: 0; }

table { border-collapse: collapse; border-spacing: 0; }

.hidden { display: none !important; visibility: hidden !important; }

.full-width { max-width: 100% !important; width: 100% !important; }

.layout { display: flex; flex-direction: row; height: 100%; }

.layout-content { display: flex; flex-direction: column; flex-grow: 1; }

.main { width: 100%; }

.grid.main { flex-grow: 1; }

.grid { display: flex; flex-flow: row wrap; margin: 0 auto 0 auto; align-items: stretch; }

.cell { box-sizing: border-box; }

.cell--1-col { width: calc(8.33333% - 16px); }

.grid--no-spacing > .cell--1-col { width: 8.33333%; }

.cell--2-col { width: calc(16.66667% - 16px); }

.grid--no-spacing > .cell--2-col { width: 16.66667%; }

.cell--3-col { width: calc(25% - 16px); }

.grid--no-spacing > .cell--3-col { width: 25%; }

.cell--4-col { width: calc(33.33333% - 16px); }

.grid--no-spacing > .cell--4-col { width: 33.33333%; }

.cell--5-col { width: calc(41.66667% - 16px); }

.grid--no-spacing > .cell--5-col { width: 41.66667%; }

.cell--6-col { width: calc(50% - 16px); }

.grid--no-spacing > .cell--6-col { width: 50%; }

.cell--7-col { width: calc(58.33333% - 16px); }

.grid--no-spacing > .cell--7-col { width: 58.33333%; }

.cell--8-col { width: calc(66.66667% - 16px); }

.grid--no-spacing > .cell--8-col { width: 66.66667%; }

.cell--9-col { width: calc(75% - 16px); }

.grid--no-spacing > .cell--9-col { width: 75%; }

.cell--10-col { width: calc(83.33333% - 16px); }

.grid--no-spacing > .cell--10-col { width: 83.33333%; }

.cell--11-col { width: calc(91.66667% - 16px); }

.grid--no-spacing > .cell--11-col { width: 91.66667%; }

.cell--12-col { width: calc(100% - 16px); }

.grid--no-spacing > .cell--12-col { width: 100%; }

.cell--1-offset { margin-left: calc(8.33333% + 8px); }

.grid.grid--no-spacing > .cell--1-offset { margin-left: 8.33333%; }

.cell--2-offset { margin-left: calc(16.66667% + 8px); }

.grid.grid--no-spacing > .cell--2-offset { margin-left: 16.66667%; }

.cell--3-offset { margin-left: calc(25% + 8px); }

.grid.grid--no-spacing > .cell--3-offset { margin-left: 25%; }

.cell--4-offset { margin-left: calc(33.33333% + 8px); }

.grid.grid--no-spacing > .cell--4-offset { margin-left: 33.33333%; }

.cell--5-offset { margin-left: calc(41.66667% + 8px); }

.grid.grid--no-spacing > .cell--5-offset { margin-left: 41.66667%; }

.cell--6-offset { margin-left: calc(50% + 8px); }

.grid.grid--no-spacing > .cell--6-offset { margin-left: 50%; }

.cell--7-offset { margin-left: calc(58.33333% + 8px); }

.grid.grid--no-spacing > .cell--7-offset { margin-left: 58.33333%; }

.cell--8-offset { margin-left: calc(66.66667% + 8px); }

.grid.grid--no-spacing > .cell--8-offset { margin-left: 66.66667%; }

.cell--9-offset { margin-left: calc(75% + 8px); }

.grid.grid--no-spacing > .cell--9-offset { margin-left: 75%; }

.cell--10-offset { margin-left: calc(83.33333% + 8px); }

.grid.grid--no-spacing > .cell--10-offset { margin-left: 83.33333%; }

.cell--11-offset { margin-left: calc(91.66667% + 8px); }

.grid.grid--no-spacing > .cell--11-offset { margin-left: 91.66667%; }

.header { width: 100%; position: absolute; top: 0; z-index: 20; background-color: #fff; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); }

.fixed-header { height: 60px; position: fixed; backface-visibility: hidden; }

.editor-container { display: flex; flex-direction: row; align-items: stretch; }

.editor { flex-grow: 1; }

.editor-container > .editor { font-size: 1.2rem; }

/** Copy from ace.css */
.ace-twilight .ace_gutter { background: #232323; color: #E2E2E2; }

.ace-twilight .ace_print-margin { width: 1px; background: #232323; }

.ace-twilight { background-color: #141414; color: #F8F8F8; }

.ace-twilight .ace_cursor { color: #A7A7A7; }

.ace-twilight .ace_marker-layer .ace_selection { background: rgba(221, 240, 255, 0.2); }

.ace-twilight.ace_multiselect .ace_selection.ace_start { box-shadow: 0 0 3px 0px #141414; }

.ace-twilight .ace_marker-layer .ace_step { background: #665200; }

.ace-twilight .ace_marker-layer .ace_bracket { margin: -1px 0 0 -1px; border: 1px solid rgba(255, 255, 255, 0.25); }

.ace-twilight .ace_marker-layer .ace_active-line { background: rgba(255, 255, 255, 0.031); }

.ace-twilight .ace_gutter-active-line { background-color: rgba(255, 255, 255, 0.031); }

.ace-twilight .ace_marker-layer .ace_selected-word { border: 1px solid rgba(221, 240, 255, 0.2); }

.ace-twilight .ace_invisible { color: rgba(255, 255, 255, 0.25); }

.ace-twilight .ace_keyword, .ace-twilight .ace_meta { color: #CDA869; }

.ace-twilight .ace_constant, .ace-twilight .ace_constant.ace_character, .ace-twilight .ace_constant.ace_character.ace_escape, .ace-twilight .ace_constant.ace_other, .ace-twilight .ace_heading, .ace-twilight .ace_markup.ace_heading, .ace-twilight .ace_support.ace_constant { color: #CF6A4C; }

.ace-twilight .ace_invalid.ace_illegal { color: #F8F8F8; background-color: rgba(86, 45, 86, 0.75); }

.ace-twilight .ace_invalid.ace_deprecated { text-decoration: underline; font-style: italic; color: #D2A8A1; }

.ace-twilight .ace_support { color: #9B859D; }

.ace-twilight .ace_fold { background-color: #AC885B; border-color: #F8F8F8; }

.ace-twilight .ace_support.ace_function { color: #DAD085; }

.ace-twilight .ace_list, .ace-twilight .ace_markup.ace_list, .ace-twilight .ace_storage { color: #F9EE98; }

.ace-twilight .ace_entity.ace_name.ace_function, .ace-twilight .ace_meta.ace_tag, .ace-twilight .ace_variable { color: #AC885B; }

.ace-twilight .ace_string { color: #8F9D6A; }

.ace-twilight .ace_string.ace_regexp { color: #E9C062; }

.ace-twilight .ace_comment { font-style: italic; color: #5F5A60; }

.ace-twilight .ace_variable { color: #7587A6; }

.ace-twilight .ace_xml-pe { color: #494949; }

.ace-twilight .ace_indent-guide { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMQERFpYLC1tf0PAAgOAnPnhxyiAAAAAElFTkSuQmCC) right repeat-y; }

.editor-bar { box-sizing: border-box; margin: 0; padding: 5px 5px 5px 40px; border-bottom: 2px solid #e9e9e9; height: 33px; position: relative; }

.editor-bar > button { background-color: transparent; padding: 2px 4px; float: left; margin-right: 6px; color: #919191; }

.editor-bar > button:focus { outline: none; }

.editor-separator { width: 1px; height: 20px; margin-right: 8px; margin-left: 5px; background-color: #e9e9e9; display: inline-block; float: left; }

.danger { border-bottom: 1px solid #e45735 !important; }

.btn { display: inline-block; margin: 0; padding: 6px 12px; font-weight: 500; font-size: 1em; line-height: 18px; text-align: center; cursor: pointer; transition: all .25s; }

.btn:active { text-shadow: none; }

.btn[disabled], .btn.disabled { cursor: default; opacity: 0.4; }

.btn .fa { margin-right: 7px; }

.btn.no-text .fa { margin-right: 0; line-height: 10px; }

.btn.hidden { display: none; }

.btn { border: none; color: #222; font-weight: normal; background: #e9e9e9; }

.btn[href] { color: #222; }

.btn:hover { background: #b2b2b2; color: #fff; }

.btn[disabled], .btn.disabled { background: #e9e9e9; cursor: not-allowed; }

.btn[disabled]:hover, .btn.disabled:hover { color: #bdbdbd; }

.btn-primary { border: none; font-weight: normal; color: #fff; background: #08c; }

.btn-primary[href] { color: #fff; }

.btn-primary:hover { color: #fff; background: #006da3; }

.btn-primary:active { background-color: #006da3; background-image: linear-gradient(to bottom, #006da3, #007ab8); color: #fff; }

.btn-primary[disabled], .btn-primary.disabled { background: #08c; }

.btn-danger { color: #fff; font-weight: normal; background: #e45735; }

.btn-danger[href] { color: #fff; }

.btn-danger:hover { background: #c63c1b; }

.btn-danger:active { background-color: #c63c1b; background-image: linear-gradient(to bottom, #c63c1b, #e45735); }

.btn-danger[disabled], .btn-danger.disabled { background: #e45735; }

.btn-small { padding: 3px 6px; font-size: 0.857em; line-height: 16px; }

.btn-large { padding: 9px 18px; font-size: 1.143em; line-height: 20px; }

.btn.btn-select { padding: 0; }

.btn-select { box-sizing: border-box; position: relative; width: 100%; display: flex; flex-direction: row; }

.btn& { background: #222; }

.btn-select:focus { outline: none; }

.btn-select > span { padding-left: 6px; }

.btn-select > input { background-color: #e9e9e9; border: 0; flex-grow: 1; color: #222; padding: 3px 6px; }

.btn-select > input:focus { outline: none; background-color: #fff; }

.btn-dropdown { box-sizing: border-box; position: absolute; background-color: #e9e9e9; top: 21px; color: #222; left: 0; width: 100%; text-align: left; max-height: 200px; overflow-y: auto; box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15); visibility: hidden; }

.btn-dropdown > a { display: block; padding: 3px 6px; }

.btn-dropdown > a:hover { background-color: #ffffa6; }

.btn-dropdown:hover { color: #222; }

.btn-dropdown.is-visible { visibility: visible; }

.popover { transition: height 0.4s ease; width: 100%; height: 0; z-index: 20; background-color: #e9e9e9; bottom: 0; font-size: 1rem; position: fixed; }

.cell.markdown-container { max-width: 50%; overflow-y: auto; box-sizing: border-box; line-height: 1.6; word-wrap: break-word; padding: 8px; }

.markdown-body:before { display: table; content: ""; }

.markdown-body:after { display: table; clear: both; content: ""; }

.markdown-body > *:first-child { margin-top: 0 !important; }

.markdown-body > *:last-child { margin-bottom: 0 !important; }

.markdown-body a:not([href]) { color: inherit; text-decoration: none; }

.markdown-body .absent { color: #c00; }

.markdown-body .anchor { display: inline-block; padding-right: 2px; margin-left: -18px; }

.markdown-body .anchor:focus { outline: none; }

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin-top: 1em; margin-bottom: 16px; font-weight: bold; line-height: 1.4; }

.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link { color: #000; vertical-align: middle; visibility: hidden; }

.markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor { text-decoration: none; }

.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link { visibility: visible; }

.markdown-body h1 tt, .markdown-body h1 code, .markdown-body h2 tt, .markdown-body h2 code, .markdown-body h3 tt, .markdown-body h3 code, .markdown-body h4 tt, .markdown-body h4 code, .markdown-body h5 tt, .markdown-body h5 code, .markdown-body h6 tt, .markdown-body h6 code { font-size: inherit; }

.markdown-body h1 { padding-bottom: 0.3em; font-size: 2.25em; line-height: 1.2; border-bottom: 1px solid #eee; }

.markdown-body h1 .anchor { line-height: 1; }

.markdown-body h2 { padding-bottom: 0.3em; font-size: 1.75em; line-height: 1.225; border-bottom: 1px solid #eee; }

.markdown-body h2 .anchor { line-height: 1; }

.markdown-body h3 { font-size: 1.5em; line-height: 1.43; }

.markdown-body h3 .anchor { line-height: 1.2; }

.markdown-body h4 { font-size: 1.25em; }

.markdown-body h4 .anchor { line-height: 1.2; }

.markdown-body h5 { font-size: 1em; }

.markdown-body h5 .anchor { line-height: 1.1; }

.markdown-body h6 { font-size: 1em; color: #777; }

.markdown-body h6 .anchor { line-height: 1.1; }

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table { margin-top: 0; margin-bottom: 16px; }

.markdown-body hr { height: 4px; padding: 0; margin: 16px 0; background-color: #e7e7e7; border: 0 none; }

.markdown-body ul, .markdown-body ol { padding-left: 2em; }

.markdown-body ul.no-list, .markdown-body ol.no-list { padding: 0; list-style-type: none; }

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul { margin-top: 0; margin-bottom: 0; }

.markdown-body li > p { margin-top: 16px; }

.markdown-body dl { padding: 0; }

.markdown-body dl dt { padding: 0; margin-top: 16px; font-size: 1em; font-style: italic; font-weight: bold; }

.markdown-body dl dd { padding: 0 16px; margin-bottom: 16px; }

.markdown-body blockquote { padding: 0 15px; color: #777; border-left: 4px solid #ddd; }

.markdown-body blockquote > :first-child { margin-top: 0; }

.markdown-body blockquote > :last-child { margin-bottom: 0; }

.markdown-body table { display: block; width: 100%; overflow: auto; word-break: normal; word-break: keep-all; }

.markdown-body table th { font-weight: bold; }

.markdown-body table th, .markdown-body table td { padding: 6px 13px; border: 1px solid #ddd; }

.markdown-body table tr { background-color: #fff; border-top: 1px solid #ccc; }

.markdown-body table tr:nth-child(2n) { background-color: #f8f8f8; }

.markdown-body img { max-width: 100%; box-sizing: content-box; background-color: #fff; }

.markdown-body img[align=right] { padding-left: 20px; }

.markdown-body img[align=left] { padding-right: 20px; }

.markdown-body .emoji { max-width: none; }

.markdown-body span.frame { display: block; overflow: hidden; }

.markdown-body span.frame > span { display: block; float: left; width: auto; padding: 7px; margin: 13px 0 0; overflow: hidden; border: 1px solid #ddd; }

.markdown-body span.frame span img { display: block; float: left; }

.markdown-body span.frame span span { display: block; padding: 5px 0 0; clear: both; color: #333; }

.markdown-body span.align-center { display: block; overflow: hidden; clear: both; }

.markdown-body span.align-center > span { display: block; margin: 13px auto 0; overflow: hidden; text-align: center; }

.markdown-body span.align-center span img { margin: 0 auto; text-align: center; }

.markdown-body span.align-right { display: block; overflow: hidden; clear: both; }

.markdown-body span.align-right > span { display: block; margin: 13px 0 0; overflow: hidden; text-align: right; }

.markdown-body span.align-right span img { margin: 0; text-align: right; }

.markdown-body span.float-left { display: block; float: left; margin-right: 13px; overflow: hidden; }

.markdown-body span.float-left span { margin: 13px 0 0; }

.markdown-body span.float-right { display: block; float: right; margin-left: 13px; overflow: hidden; }

.markdown-body span.float-right > span { display: block; margin: 13px auto 0; overflow: hidden; text-align: right; }

.markdown-body kbd { display: inline-block; padding: 3px 5px; font-size: 11px; line-height: 10px; color: #555; vertical-align: middle; background-color: #fcfcfc; border: solid 1px #ccc; border-bottom-color: #bbb; border-radius: 3px; box-shadow: inset 0 -1px 0 #bbb; }

code { padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }

.markdown-body ol { list-style: decimal; }

.markdown-body ul { list-style: disc; }

.markdown-body strong { font-weight: 700; }

.markdown-body pre { display: block; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; color: #333; border-radius: 2px; margin-top: 0; margin-bottom: 0; word-break: normal; white-space: nowrap; border: 0; padding: 9px 14px; margin-bottom: 14px; background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 4px; }

.markdown-body pre code { padding: 0; font-size: inherit; white-space: pre; white-space: pre-wrap; word-wrap: break-word; background-color: transparent; border-radius: 0; color: #333; }

.search-box { width: 450px; height: 200px; box-shadow: 0 2px 8px #A8A8A8; position: fixed; top: 3px; left: 50%; transform: translate(-50%); z-index: 21; background-color: #F9F9FB; display: flex; flex-direction: column; visibility: hidden; }

.search-box.is-visible { visibility: visible; }

.search-input-container { padding: 3px; }

.search-input-container > input, .search-input-container > select { width: 100%; padding: 3px 6px; }

.search-input-container > input[type=text] { box-sizing: border-box; border: 0; }

.search-input-container > input[type=text]:focus { outline: none; }

.search-list-container { flex-grow: 1; max-height: 100%; overflow-x: hidden; overflow-y: auto; padding: 8px 0 0 0; font-size: 13px; }

.search-list-container > a { display: block; padding: 3px 12px; -webkit-user-select: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.search-list-container > a:hover { background-color: #ffffa6; cursor: pointer; }

.dropdown { border: 1px solid #e9e9e9; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); background-color: #fff; width: 150px; position: absolute; z-index: 22; max-height: 200px; overflow-y: auto; overflow-x: hidden; visibility: hidden; }

.dropdown.is-visible { visibility: visible; }

.dropdown > a { box-sizing: border-box; cursor: pointer; border-bottom: 1px solid #e5e5e5; display: block; padding: 4px 10px 4px 15px; }

.dropdown > a:hover { background-color: #ffffa6; }

.dropdown-divider { height: 1px; margin: 8px 1px; background-color: #e5e5e5; }

.notification { will-change: top; box-sizing: border-box; position: fixed; padding: 15px; width: 160px; top: -120px; left: 50%; transition: top .45s ease; transform: translateX(-50%); border-radius: 2px; text-align: center; background: #eff0f3; z-index: 30; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); }

.notification.is-visible { top: 10px; }
