html {
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 19px;
	background-color: #fff;
	direction: ltr;
	height: 100%;
}

body {
	margin: 0;
}

.fixed-body {
	height: 100%;
	max-height: 100%;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

body label,
body input,
body button,
body select,
body textarea {
	font-size: 0.929em;
	font-weight: normal;
	line-height: 18px;
}

body input,
body button,
body select,
body textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.4em;
}

h2 {
	color: black;
	font-weight: 500;
	margin: 20px 0 15px 0;
	padding-bottom: 6px;
}

h1,
h2,
h3,
h4 {
	font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
	color: black;
	font-weight: 500;
	margin: 20px 0 15px 0;
	padding-bottom: 6px;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}