html {
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 19px;
	background-color: #fff;
	overflow-y: scroll;
	direction: ltr;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	max-height: 100%;
}